/*
 * Animate CSS overrides.
 *
 * flash for warnings.
 * shake for errors.
 * fadeIn for success, info.
 */

@-webkit-keyframes flash {
	from,
	50%,
	to {
		opacity: 1;
	}

	25%,
	75% {
		opacity: 0;
	}
}

@keyframes flash {
	from,
	50%,
	to {
		opacity: 1;
	}

	25%,
	75% {
		opacity: 0;
	}
}

.flash {
	-webkit-animation-name: flash;
	animation-name: flash;
}

@-webkit-keyframes shake {
	from,
	to {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}

	10%,
	30%,
	50%,
	70%,
	90% {
		-webkit-transform: translate3d(-10px, 0, 0);
		transform: translate3d(-10px, 0, 0);
	}

	20%,
	40%,
	60%,
	80% {
		-webkit-transform: translate3d(10px, 0, 0);
		transform: translate3d(10px, 0, 0);
	}
}

@keyframes shake {
	from,
	to {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}

	10%,
	30%,
	50%,
	70%,
	90% {
		-webkit-transform: translate3d(-10px, 0, 0);
		transform: translate3d(-10px, 0, 0);
	}

	20%,
	40%,
	60%,
	80% {
		-webkit-transform: translate3d(10px, 0, 0);
		transform: translate3d(10px, 0, 0);
	}
}

.shake {
	-webkit-animation-name: shake;
	animation-name: shake;
}

@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.fadeIn {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
}

.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

.animated.infinite {
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

.animated.fast {
	-webkit-animation-duration: 800ms;
	animation-duration: 800ms;
}

.animated.faster {
	-webkit-animation-duration: 500ms;
	animation-duration: 500ms;
}

.animated.slow {
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
}

.animated.slower {
	-webkit-animation-duration: 3s;
	animation-duration: 3s;
}



/*
 * Specific Element, class or attribute related elements styles.
 */

[_last_child_mb_0] > :last-child {
	margin-bottom: 0 !important;
}

a.nav-link.active[role="button"] {
    font-weight: 600;
}

[placeholder] {
    text-overflow: ellipsis !important;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    text-overflow: ellipsis !important;
}

::-moz-placeholder { /* Firefox 19+ */
    text-overflow: ellipsis !important;
}

:-ms-input-placeholder { /* IE 10+ */
    text-overflow: ellipsis !important;
}

:-moz-placeholder { /* Firefox 18- */
    text-overflow: ellipsis !important;
}



/*
 * Custom utility classes.
 */

._flex_1 {
	flex: 1;
}

/* Use this class in flex containers that contain child elements with css overflow properties */
._mh_0px {
	min-height: 0;
}

._oy_auto {
	overflow-y: auto;
}

._opacity_100 {
    opacity: 1 !important;
}

._opacity_0 {
    opacity: 0 !important;
}

._table_cell_shrink {
	white-space: nowrap !important;
	width: 1px !important;
}

._badge_light {
	color: #777777;
	background-color: #d8d8d8;
}

._custom_scrollbar {
	-webkit-overflow-scrolling: touch;
	/* Deactivated due to: https://stackoverflow.com/questions/45154788/sluggish-scroll-behaviour-of-largeish-html-table-in-google-chrome
     -webkit-transform: translateZ(0); */
    -ms-overflow-style: auto; /* -ms-autohiding-scrollbar */

    /* For Firfox browser */
    scrollbar-color: #cdcdcd #e6e6e6;
    scrollbar-width: thin;
}

._custom_scrollbar::-webkit-scrollbar {
	height: 8px;
	width: 8px;
}

._custom_scrollbar::-webkit-scrollbar-button:end:increment,
._custom_scrollbar::-webkit-scrollbar-button:start:decrement {
	background: transparent;
	display: none;
}

._custom_scrollbar::-webkit-scrollbar-track-piece {
	background: #e6e6e6; /* #f0f0f0 */
}

._custom_scrollbar::-webkit-scrollbar-track-piece:vertical:start {
	/* border-radius: 4px 4px 0 0 */
}

._custom_scrollbar::-webkit-scrollbar-track-piece:vertical:end {
	/* border-radius: 0 0 4px 4px */
}

._custom_scrollbar::-webkit-scrollbar-track-piece:horizontal:start {
	/* border-radius: 4px 0 0 4px */
}

._custom_scrollbar::-webkit-scrollbar-track-piece:horizontal:end {
	/* border-radius: 0 4px 4px 0 */
}

._custom_scrollbar::-webkit-scrollbar-thumb:horizontal,
._custom_scrollbar::-webkit-scrollbar-thumb:vertical {
	background: #cdcdcd;
	/* border-radius: 4px; */
	display: block;
	height: 48px;
}

._custom_scrollbar::-webkit-scrollbar-thumb:horizontal:hover,
._custom_scrollbar::-webkit-scrollbar-thumb:vertical:hover {
	background: #a6a6a6;
}

._custom_scrollbar::-webkit-scrollbar-thumb:horizontal:active,
._custom_scrollbar::-webkit-scrollbar-thumb:vertical:active {
	background: #606060;
}



/*
 * Third-party libraries related style overrides.
 */
